<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dish Management</title>
  <!-- Import styles -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
  <style>
    .selectInput {
      position: relative;
      width: 100%;
      min-width: 100px;
    }
    .selectInput .flavorSelect {
      position: absolute;
      width: 100%;
      padding: 0 10px;
      border-radius: 3px;
      border: solid 1px #FF903D;
      line-height: 30px;
      text-align: center;
      background: #fff;
      top: 50px;
      z-index: 99;
    }
    .selectInput .flavorSelect .items {
      cursor: pointer;
      display: inline-block;
      width: 100%;
      line-height: 35px;
      border-bottom: solid 1px #f4f4f4;
      color: #666;
    }
    .selectInput .flavorSelect .none {
      font-size: 14px;
    }

    #food-add-app .uploadImg .el-form-item__label::before {
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
    }
  </style>
</head>
<body>
<div class="addBrand-container" id="food-add-app">
  <div class="container">
    <el-form ref="ruleForm" :model="ruleForm" :rules="rules" :inline="true" label-width="180px" class="demo-ruleForm">
      <div>
        <el-form-item label="Dish Name:" prop="name">
          <el-input v-model="ruleForm.name" placeholder="Enter dish name" maxlength="20"/>
        </el-form-item>
        <el-form-item label="Dish Category:" prop="categoryId">
          <el-select v-model="ruleForm.categoryId" placeholder="Select dish category">
            <el-option v-for="(item,index) in dishList" :key="index" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
      </div>
      <div>
        <el-form-item label="Dish Price:" prop="price">
          <el-input v-model="ruleForm.price" placeholder="Enter dish price"/>
        </el-form-item>
      </div>
      <el-form-item label="Flavor Configuration:">
        <el-form-item>
          <div class="flavorBox">
            <span v-if="dishFlavors.length == 0" class="addBut" @click="addFlavore"> + Add Flavor</span>
            <div v-if="dishFlavors.length != 0" class="flavor">
              <div class="title">
                <span>Flavor Name (Max 3 characters)</span>
                <span>Flavor Tags (Press Enter to add)</span>
              </div>
              <div class="cont">
                <div v-for="(item, index) in dishFlavors" :key="index" class="items">
                  <div class="itTit">
                    <div class="selectInput">
                      <div>
                        <el-input v-model="item.name" type="text" style="width: 100%" placeholder="Enter flavor"
                                  @focus="selectFlavor(true,index)" @blur="outSelect(false,index)" @input="inputHandle(index)" />
                      </div>
                      <div v-show="item.showOption" class="flavorSelect">
                          <span v-for="(it, ind) in dishFlavorsData" :key="ind" class="items" @click="checkOption(it,ind,index)">
                            {{ it.name }}
                          </span>
                        <span v-if="dishFlavorsData.length === 0" class="none">No Data</span>
                      </div>
                    </div>
                  </div>
                  <div class="labItems" style="display: flex">
                    <span v-for="(it, ind) in item.value" :key="ind">{{ it }} <i @click="delFlavorLabel(index, ind)">X</i></span>
                    <div class="inputBox" :style="inputStyle" contenteditable="true"
                         @focus="flavorPosition(index)" @keydown.enter="(val)=>keyDownHandle(val,index)">
                    </div>
                  </div>
                  <span class="delFlavor delBut non" @click="delFlavor(index)">Delete</span>
                </div>
              </div>
              <div class="addBut" @click="addFlavore">Add Flavor</div>
            </div>
          </div>
        </el-form-item>
      </el-form-item>
      <div>
        <el-form-item label="Dish Image:" prop="region" class="uploadImg">
          <el-upload class="avatar-uploader" action="/common/upload" :show-file-list="false"
                     :on-success="handleAvatarSuccess" :on-change="onChange" ref="upload">
            <img v-if="imageUrl" :src="imageUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
      </div>
      <div class="address">
        <el-form-item label="Dish Description:" prop="region">
          <el-input v-model="ruleForm.description" type="textarea" :rows="3"
                    placeholder="Dish description (Max 200 characters)" maxlength="200"/>
        </el-form-item>
      </div>
      <div class="subBox address">
        <el-form-item>
          <el-button @click="goBack()">Cancel</el-button>
          <el-button type="primary" @click="submitForm('ruleForm')">Save</el-button>
          <el-button v-if="actionType == 'add'" type="primary" class="continue" @click="submitForm('ruleForm','goAnd')">
            Save & Add Another
          </el-button>
        </el-form-item>
      </div>
    </el-form>
  </div>
</div>

<!-- Import Vue and related libraries -->
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script src="../../api/food.js"></script>

<script>
  new Vue({
    el: '#food-add-app',
    data() {
      return {
        id: '',
        actionType: '',
        dishList: [],
        dishFlavorsData: [],
        dishFlavors: [],
        imageUrl: '',
        ruleForm: {
          name: '',
          id: '',
          price: '',
          image: '',
          description: '',
          dishFlavors: [],
          status: true,
          categoryId: ''
        }
      }
    },
    created() {
      this.getDishList();
      this.getFlavorListHand();
      this.id = requestUrlParam('id');
      this.actionType = this.id ? 'edit' : 'add';
      if (this.id) {
        this.init();
      }
    },
    methods: {
      async init() {
        queryDishById(this.id).then(res => {
          if (String(res.code) === '1') {
            this.ruleForm = { ...res.data };
            this.ruleForm.price = String(res.data.price / 100);
            this.imageUrl = `/common/download?name=${res.data.image}`;
          } else {
            this.$message.error(res.msg || 'Operation failed');
          }
        })
      },
      getDishList() {
        getCategoryList({ type: 1 }).then(res => {
          if (res.code === 1) {
            this.dishList = res.data;
          } else {
            this.$message.error(res.msg || 'Operation failed');
          }
        });
      },
      goBack() {
        window.parent.menuHandle({ id: '4', url: '/backend/page/food/list.html', name: 'Dish Management' }, false);
      }
    }
  })
</script>
</body>
</html>